{{- $network := .Values.networks[.Values.network] }}
---
apiVersion: v1
kind: Service
metadata:
  name: luxd-headless
  namespace: {{ $network.namespace }}
spec:
  clusterIP: None
  selector:
    app: luxd
  ports:
  - name: http
    port: {{ $network.httpPort }}
  - name: staking
    port: {{ $network.stakingPort }}
---
apiVersion: v1
kind: Service
metadata:
  name: luxd
  namespace: {{ $network.namespace }}
  annotations:
    service.beta.kubernetes.io/do-loadbalancer-name: "luxd-{{ .Values.network }}"
spec:
  type: LoadBalancer
  selector:
    app: luxd
  ports:
  - name: http
    port: {{ $network.httpPort }}
  - name: staking
    port: {{ $network.stakingPort }}
{{- if .Values.nodeServices.enabled }}
{{- range $i := until (int .Values.replicas) }}
---
apiVersion: v1
kind: Service
metadata:
  name: luxd-{{ $i }}
  namespace: {{ $network.namespace }}
  annotations:
    service.beta.kubernetes.io/do-loadbalancer-name: "luxd-{{ $.Values.network }}-{{ $i }}"
spec:
  type: {{ $.Values.nodeServices.type }}
  selector:
    statefulset.kubernetes.io/pod-name: luxd-{{ $i }}
  ports:
  - name: http
    port: {{ $network.httpPort }}
  - name: staking
    port: {{ $network.stakingPort }}
{{- end }}
{{- end }}
