name: Test and release

# ref. https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

permissions:
  contents: write

jobs:
  static_analysis:
    name: Static analysis (lint)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt, clippy
          override: true

      - name: Check Rust version
        run: rustc --version

      - uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true

      - name: Run static analysis tests
        shell: bash
        run: scripts/tests.lint.sh

  check_cargo_unused:
    name: Check Cargo unused
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt, clippy
          override: true

      - name: Check Rust version
        run: rustc --version

      - uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true

      - name: Check unused Cargo dependencies
        shell: bash
        run: scripts/tests.unused.sh

  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Check Rust version
        run: rustc --version

      - uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true

      - name: Run unit tests
        run: scripts/tests.unit.sh

  release:
    name: Release ${{ matrix.job.target }} (${{ matrix.job.os }})
    runs-on: ${{ matrix.job.os }}
    needs: [static_analysis, unit_tests]
    strategy:
      matrix:
        job:
          - os: ubuntu-20.04
            platform: linux
            target: x86_64-unknown-linux-gnu

          - os: ubuntu-20.04
            platform: linux
            target: aarch64-unknown-linux-gnu
            use-cross: true
            experimental: true

          - os: macos-latest
            platform: darwin
            target: x86_64-apple-darwin

          - os: macos-latest
            platform: darwin
            target: aarch64-apple-darwin

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install OS dependencies
        shell: bash
        run: |
          case ${{ matrix.job.target }} in
            arm-unknown-linux-*) sudo apt-get -y update ; sudo apt-get -y install gcc-arm-linux-gnueabihf ;;
            aarch64-unknown-linux-gnu) sudo apt-get -y update ; sudo apt-get -y install gcc-aarch64-linux-gnu ;;
          esac

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: ${{ matrix.job.target }}
          override: true

      - name: Show version information (Rust, cargo, GCC)
        shell: bash
        run: |
          gcc --version || true
          rustup -V
          rustup toolchain list
          rustup default
          cargo -V
          rustc -V

      - name: Set cargo cmd
        shell: bash
        run: echo "CARGO_CMD=cargo" >> $GITHUB_ENV

      - name: Set cargo cmd to cross
        shell: bash
        if: ${{ matrix.job.use-cross == true }}
        run: echo "CARGO_CMD=cross" >> $GITHUB_ENV

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.job.os }}-${{ matrix.job.target }}

      - name: Install cross
        if: ${{ matrix.job.use-cross == true }}
        run: cargo install cross --locked

      - name: Build
        run: ${{ env.CARGO_CMD }} build --release --target=${{ matrix.job.target }} --bin luxd-daemon --bin luxup --bin lux-bench --bin lux-benchup --bin staking-key-downloader --bin staking-signer-downloader --bin lux-faucet

      - name: Compress binaries
        id: release_artifacts
        env:
          PLATFORM_NAME: ${{ matrix.job.platform }}
          TARGET: ${{ matrix.job.target }}
        shell: bash
        run: |
          COMPRESS="tar -czvf"
          if [ "$PLATFORM_NAME" == "darwin" ]; then
            COMPRESS="gtar -czvf"
          fi

          for BIN in luxd-daemon luxup lux-bench lux-benchup staking-key-downloader staking-signer-downloader lux-faucet; do
            SAFE_NAME=$(echo "$BIN" | tr '-' '_')
            cp "./target/${TARGET}/release/${BIN}" "${BIN}.${TARGET}"
            echo "file_name_${SAFE_NAME}=${BIN}.${TARGET}" >> $GITHUB_OUTPUT
            $COMPRESS "${BIN}.${TARGET}.tar.gz" -C "./target/${TARGET}/release" "${BIN}"
            echo "file_name_${SAFE_NAME}_tar_gz=${BIN}.${TARGET}.tar.gz" >> $GITHUB_OUTPUT
          done

      # release tip from latest commits
      # https://github.com/softprops/action-gh-release
      - name: Release latest
        uses: softprops/action-gh-release@v1
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          name: Latest release
          tag_name: latest
          draft: false
          prerelease: false
          body: Latest builds from the last commit.
          files: |
            ${{ steps.release_artifacts.outputs.file_name_luxd_daemon }}
            ${{ steps.release_artifacts.outputs.file_name_luxd_daemon_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_luxup }}
            ${{ steps.release_artifacts.outputs.file_name_luxup_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_lux_bench }}
            ${{ steps.release_artifacts.outputs.file_name_lux_bench_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_lux_benchup }}
            ${{ steps.release_artifacts.outputs.file_name_lux_benchup_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_staking_key_downloader }}
            ${{ steps.release_artifacts.outputs.file_name_staking_key_downloader_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_staking_signer_downloader }}
            ${{ steps.release_artifacts.outputs.file_name_staking_signer_downloader_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_lux_faucet }}
            ${{ steps.release_artifacts.outputs.file_name_lux_faucet_tar_gz }}

      # release only for tags
      - name: Release tag
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          body: Release builds for ${{ github.ref_name }}.
          files: |
            ${{ steps.release_artifacts.outputs.file_name_luxd_daemon }}
            ${{ steps.release_artifacts.outputs.file_name_luxd_daemon_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_luxup }}
            ${{ steps.release_artifacts.outputs.file_name_luxup_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_lux_bench }}
            ${{ steps.release_artifacts.outputs.file_name_lux_bench_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_lux_benchup }}
            ${{ steps.release_artifacts.outputs.file_name_lux_benchup_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_staking_key_downloader }}
            ${{ steps.release_artifacts.outputs.file_name_staking_key_downloader_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_staking_signer_downloader }}
            ${{ steps.release_artifacts.outputs.file_name_staking_signer_downloader_tar_gz }}
            ${{ steps.release_artifacts.outputs.file_name_lux_faucet }}
            ${{ steps.release_artifacts.outputs.file_name_lux_faucet_tar_gz }}
